.header_main_body
{
    background-color: rgb(235, 239, 238);
}

.header_footer
{
    display: grid;
    grid-template-columns: auto auto;
    color: rgb(11, 133, 110);
    font-weight: bold;

    /*
        column-gap: 2rem;
        row-gap: 6rem;
    */
}

.header_footer_logo
{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    width: 44px;
}

.header_footer_svg
{
    width: 44px;
    height: 42px;
}

.header_footer_links
{
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.header_footer_button
{
    border: none;
    background-color: inherit;
    color: inherit;
    font-weight: bold;
}

.header_main_body
{
    width: 1663px;
    height: 738px;
    display: flex;
    flex-flow: column wrap;
}

.header_main_texts
{
    display: flex;
    flex-flow: column wrap;
    width: 30%;
    margin-top: 3%;

    h1
    {
        margin-bottom: 1.5%;
        font-size: 2em;
        text-align: center;
    }

    p
    {
        text-align: center;
        margin-top: 1.5%;
    }
}

.header_main_flowers_border
{
    background-color: rgb(255, 255, 255);
    padding: 1rem;
    bottom: 17px;
    bottom: 3%;
}

.header_main_flowers_collection
{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    


    /*
        background-color: rgb(195, 215, 44);
        height: 0px;;
        max-height: 504px;
        max-width: 868px;
    */
}

.header_main_flowers_subsidiary_1
{
    display: inherit;
    grid-template-columns: auto;
    justify-content: inherit;
 
    /*
        background-color: blue;
        height: 0px;
        max-height: inherit;
        max-width: 33.3333333%;
    */
}

.header_main_flowers_subsidiary_2
{
    display: inherit;
    grid-template-rows: auto auto;
    justify-content: inherit;

    /*
        background-color: rgb(168, 24, 67);
        height: 0px;
        max-height: 50%;
        max-width: inherit;
    */
}

.header_main_flowers_subsidiary_3
{
    display: inherit;
    grid-template-columns: auto auto;
    justify-content: inherit;
 
    /*
        background-color: rgb(43, 168, 24);
        height: 0px;
        max-height: inherit;
        max-width: 50%;
    */
}

.header_main_flower_img
{
    object-fit: cover;
}



img.header_main_flower_img[src="../images/jpg/coley-christine-GyvMk5pPDXI-unsplash.jpg"]
{
    height: 504px;
    width: 289px;
}

img.header_main_flower_img[src="../images/jpg/ab67616d00001e026a07073faabaaf523a1d3a95.jpg"]
{
    height: 251px;
    width: 144.6666666666667px;
}

img.header_main_flower_img[src="../images/jpg/qtq70fmfjpeg-27.jpg"]
{
    height: 251px;
    width: 144.6666666666667px;
}

img.header_main_flower_img[src="../images/jpg/Succulent_Terrarium_1.jpg"]
{
    height: 251px;
    width: 289.3333333333333px;
}

img.header_main_flower_img[src="../images/jpg/unsplash-image-tVIqMgGlAG0.jpg"]
{
    height: 251px;
    width: 289.3333333333333px;
}

img.header_main_flower_img[src="../images/png/img1_wsimg_com-isteam-stock-103535.png"]
{
    height: 251px;
    width: 289.3333333333333px;
}

.header_email
{
    height: 295px;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    
}

.header_email_svg
{
    height:200px;
    width:200px;


    circle 
    {
        fill: rgb(11, 133, 110);
        cx:100px; 
        cy:100px;
        r:100px;
    }

    image
    {
        width: 50%;
        height: 50%;
        transform: translate(25%,25%);
    }
}

.header_email_newsletter
{
    display: grid;
    grid-template-rows: auto auto;
    justify-content: center;
    clip-path: inset(0% 19.5% 0% 0%);
}

.header_email_text
{
    width: 18.36rem;
    right: 4.23rem; /*68px*/
    margin-bottom: 10px;
}

.header_email_input
{
    input
    {
        border-radius: 2rem; /*22px*/
    }

    input[type=email]
    {
        padding: 1.25em;
        height: 2.8rem; /*41px*/
        width: 21.6rem; /*345px*/
        border-width: 1px;
        border-color: black;
    }

    input[type=submit]
    {
        color: rgb(255, 255, 255);
        background-color: rgb(11, 133, 110);
        border: none;
        width: 6em; /*80px*/
        height: 2.3rem; /*37px*/
        right: 5.5rem; /*88px*/
    }
}
