.header_main_body
{
    background-color: rgb(235, 239, 238);
}

.header_footer
{
    display: grid;
    grid-template-columns: auto auto;
    color: rgb(11, 133, 110);
    height: 59px;
    width: 900px;
    padding-right: 16px;
}

.logo_and_title
{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: left;
    font-weight: bold;
    width: 100%;
    gap: 15px;
}

.logo_and_title_svg
{
    width: 44px;
    height: 42px;
}

.header_footer_links
{
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: right;
    column-gap: 3.75rem; /*60px*/
    width: 100%;
    height: 100%;
}

.footer_button
{
    display: inline-block;
    border: none;
    background-color: inherit;
    color: inherit;
    font-weight: bold;
    text-align: center;
}

.footer_button[data-type=header-footer]
{
    width: 100%;
    height: 100%;
    font-size: 1.125rem; /*18px*/
    padding-left: 25px;
    padding-right: 25px;
}

.footer_button[data-type=header-footer]:hover
{
    color: rgb(255, 255, 255);
    background-color: rgb(11, 133, 110);
}

.header_main_body
{
    width: 1663px;
    height: 738px;
    display: flex;
    flex-flow: column wrap;
}

.header_main_texts
{
    display: flex;
    flex-flow: column wrap;
    width: 30%;
    margin-top: 3%;

    h1
    {
        margin-bottom: 1.5%;
        font-size: 2em;
        text-align: center;
    }

    p
    {
        text-align: center;
        margin-top: 1.5%;
    }
}

.header_main_flowers_border
{
    background-color: rgb(255, 255, 255);
    padding: 1rem;
    bottom: 17px;
    bottom: 3%;
}

.header_main_flowers_collection
{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
}

.header_main_flowers_subsidiary_1
{
    display: inherit;
    grid-template-columns: auto;
    justify-content: inherit;
}

.header_main_flowers_subsidiary_2
{
    display: inherit;
    grid-template-rows: auto auto;
    justify-content: inherit;
}

.header_main_flowers_subsidiary_3
{
    display: inherit;
    grid-template-columns: auto auto;
    justify-content: inherit;
}

.header_main_flower_img
{
    object-fit: cover;
}

img.header_main_flower_img[src="../images/jpg/coley-christine-GyvMk5pPDXI-unsplash.jpg"]
{
    height: 504px;
    width: 289px;
}

img.header_main_flower_img[src="../images/jpg/ab67616d00001e026a07073faabaaf523a1d3a95.jpg"]
{
    height: 251px;
    width: 144.6666666666667px;
}

img.header_main_flower_img[src="../images/jpg/qtq70fmfjpeg-27.jpg"]
{
    height: 251px;
    width: 144.6666666666667px;
}

img.header_main_flower_img[src="../images/jpg/Succulent_Terrarium_1.jpg"]
{
    height: 251px;
    width: 289.3333333333333px;
}

img.header_main_flower_img[src="../images/jpg/unsplash-image-tVIqMgGlAG0.jpg"]
{
    height: 251px;
    width: 289.3333333333333px;
}

img.header_main_flower_img[src="../images/png/img1_wsimg_com-isteam-stock-103535.png"]
{
    height: 251px;
    width: 289.3333333333333px;
}

.header_email
{
    height: 295px;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
}

.svg-circle_fill-rgbx11x133x110_stroke-white
{
    height:200px;
    width:200px;

    circle 
    {
        fill: rgb(11, 133, 110);
        cx:100px; 
        cy:100px;
        r:100px;
    }

    image
    {
        width: 50%;
        height: 50%;
        transform: translate(25%,25%);
    }
}

.header_email_newsletter
{
    display: grid;
    grid-template-rows: auto auto;
    justify-content: center;
    clip-path: inset(0% 19.5% 0% 0%);
}

.header_email_text
{
    width: 18.36rem;
    right: 4.23rem; /*68px*/
    margin-bottom: 10px;
}

.header_email_input
{
    input
    {
        border-radius: 2rem; /*22px*/
    }

    input[type=email]
    {
        padding: 1.25em;
        height: 2.8rem; /*41px*/
        width: 21.6rem; /*345px*/
        border-width: 1px;
        border-color: black;
    }

    input[type=submit]
    {
        color: rgb(255, 255, 255);
        background-color: rgb(11, 133, 110);
        border: none;
        width: 6em; /*80px*/
        height: 2.3rem; /*37px*/
        right: 5.5rem; /*88px*/
    }
}

.main_content_field_border
{
    background-color: rgb(235, 239, 238);
    padding-top: 47px;
    padding-bottom: 45px;
}

.main_content_field
{
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: center;
    gap: 12px;
}

.main_content_panel
{
    display: grid;
    grid-template-rows: auto auto auto auto;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    height: 554px;
    width: 213px;
}

.main_content_panel_encompasing_element
{
    height: 522px;
    width: 181px;
    margin-top: 1rem; /*16px*/
}

.main_content_panel[data-type=gurka]
{
    .main_content_panel_picture
    {
        background-image: url("../images/png/a15a.net_home-business-review-is-network-marketing-a-good-fit-for-you.png");
    }
}

.main_content_panel[data-type=tomat]
{
    .main_content_panel_picture
    {
        background-image: url("../images/jpg/deck-benches.jpg");
    }
}

.main_content_panel[data-type=pelagron]
{
    .main_content_panel_picture
    {
        background-image: url("../images/jpg/466400627_9239395322737670_2626653281541698423_n.jpg");
    }
}

.main_content_panel[data-type=basilika]
{
    .main_content_panel_picture
    {
        background-image: url("../images/jpg/paris.jpg");
    }
}

.main_content_panel[data-type=sallad]
{
    .main_content_panel_picture
    {
        background-image: url("../images/png/8ebfa9_22032532d0594546a4cd25941a7bb904~mv2.png");
    }
}  

.main_content_panel[data-type=ormbunke]
{
    .main_content_panel_picture
    {
        background-image: url("../images/jpg/index-slider2.jpg");
    }
}

.main_content_panel_picture
{
    height: 13rem; /*208px*/
    width: 181px;
    background-size: 100% 100%;
}

.main_content_panel_svg
{
    width: 100%;
    height: 100%;

    image
    {
        height: 95px;
        width: 69.81395348837209px;
        transform: translate(31%,27%);
    }
}

.main_content_panel_tags
{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-top: 1rem; /*16px*/
    gap: 4px;
}

.main_content_panel_tag_element
{
    display: flex;
    margin: 0px;
    height: 24px;
    border-radius: 2rem; /*22px*/
    padding-left: 10px;
    padding-right: 10px;
    color: rgb(255, 255, 255);
    font-size: 10px;
    font-weight: bold;
}

.main_content_panel_tag_element[data-type=blommor]
{
    background-color: rgb(162, 12, 7);
}

.main_content_panel_tag_element[data-type=ätbart]
{
    background-color: rgb(111, 123, 30);
}

.main_content_panel_tag_element[data-type=grönska]
{
    background-color: rgb(47, 133, 30);
}

.main_content_panel_tag_element[data-type=solälskande]
{
    background-color: rgb(158, 77, 10);
}

.main_content_panel_tag_element[data-type=lättodlat]
{
    background-color: rgb(56, 105, 240);
}

.main_content_panel_tag_element[data-type=dekorativ]
{
    background-color: rgb(123, 21, 183);
}

.main_content_panel_tag_element[data-type=färgstark]
{
    background-color: rgb(186, 54, 179);
}

.main_content_panel_tag_element[data-type=tålig]
{
    background-color: rgb(30, 63, 133);
}

.main_content_panel_tag_element[data-type=kryddor]
{
    background-color: rgb(10, 133, 110);
}

.main_content_panel_tag_element[data-type=doftande]
{
    background-color: rgb(181, 59, 126);
}

.main_content_panel_tag_element[data-type=snabbväxande]
{
    background-color: rgb(77, 84, 96);
}

.main_content_panel_tag_element[data-type=luftfuktande]
{
    background-color: rgb(11, 127, 127);
}

.main_content_panel_text
{
    margin-top: 1rem; /*16px*/
    height: 164px;

    h3
    {
        font-size: 1.5rem; /*24px*/
        margin-bottom: 1rem /*16px*/;
    }

    p
    {
        line-height: 1.265625rem; /*20.25px*/
    }
}

.main_content_panel_footer
{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: left;
    margin-top: 1rem; /*16px*/
}

.main_content_panel_profile_picture
{
    height: 50px;
    width: 50px;
    background-size: 100% 100%;
}

.main_content_panel_profile_picture[title=coolio]
{
    background-image: url("../images/png/avatar.iran.liara.run-public-66.png");
}

.main_content_panel_profile_picture[title=anna_odlare]
{
    background-image: url("../images/png/avatar.iran.liara.run-public-12.png");
}

.main_content_panel_profile_picture[title=blomsterkalle]
{
    background-image: url("../images/png/avatar.iran.liara.run-public-5.png");
}

.main_content_panel_profile_picture[title=krydd-malin]
{
    background-image: url("../images/png/avatar.iran.liara.run-public-56.png");
}

.main_content_panel_profile_picture[title=grönis]
{
    background-image: url("../images/png/avatar.iran.liara.run-public-11.png");
}

.main_content_panel_profile_picture[title=naturvännen]
{
    background-image: url("../images/png/avatar.iran.liara.run-public-45.png");
}

.main_content_panel_footer_info
{
    display: grid;
    grid-template-rows: auto auto;
    margin-left: 8px;

    p
    {
        margin: 0px;
        font-size: 12px;
        margin-bottom: 1px;
        margin-top: 1px;
    }
}

.main_content_panel_footer_name
{
    font-weight: bold;
}

.main_previous_plants
{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    height: 281px;
    gap: 4rem;
}

.main_previous_plants_compr
{
    display: grid;
    grid-template-rows: auto auto;
    width: 476px;
    height: 10rem; /*160px*/
}

.main_previous_plants_text
{
    height: 100%;
    h2
    {
        margin-bottom: 0.625rem; /*10px*/
    }
}

.main_previous_plants_button
{
    width: 100%;
    height: 100%;
    direction: rtl;

    button
    {
        color: rgb(255, 255, 255);
        background-color: rgb(11, 133, 110);
        border: none;
        border-radius: 2rem; /*22px*/
        width: 8.7rem; /*139px*/
        height: 2.3rem; /*37px*/
        bottom: calc(2.3rem - 100%);
    }
}

.main_bottom_border
{
    background-color: rgb(235, 239, 238);
    height: 48px;
}

.footer_content_field
{
    display: grid;
    grid-template-columns: auto auto;
    background-color: rgb(11, 133, 110);
    color: rgb(255, 255, 255);
    height: 350px;
}

.footer_content_field_contact_info
{
    display: grid;
    grid-template-rows: auto auto auto auto;
    width: 373px;
    row-gap: 1.5rem /*24px*/;
    left: 86px;

    article
    {
        width: inherit;
        justify-content: left;
    }
}

.footer_content_field_contact_option
{
    display: grid;
    grid-template-columns: auto auto;
    font-weight: bold;
    column-gap: 0.5rem /*8px*/;
}

.contact_info_icon[data-type=phone_icon]
{
    width: 18px;
    height: 18px;
}

.contact_info_icon[data-type=email_icon]
{
    height: 16px;
    width: 20px;
}

.footer_content_field_links
{
    display: grid;
    grid-template-rows: auto auto auto auto;
    row-gap: 18px;
    right: 60px;
    bottom: 58px;
}

.footer_button[data-type=footer-footer]
{
    display: grid;
    justify-content: left;
    width: 100%;
    font-size: 1rem;
}